In [30]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [31]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Arraial Do Cabo,BR,2021-03-19 23:08:57,-22.9661,-42.0278,77.00,83,20,8.05
1,1,Moissala,TD,2021-03-19 23:15:49,8.3404,17.7663,79.27,59,90,6.38
2,2,Ponta Do Sol,PT,2021-03-19 23:08:54,32.6667,-17.1000,59.00,58,20,6.91
3,3,Rikitea,PF,2021-03-19 23:08:48,-23.1203,-134.9692,80.98,76,94,13.00
4,4,Mataura,NZ,2021-03-19 23:08:41,-46.1927,168.8643,55.99,86,99,5.01

In [32]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [33]:
# Configure gmaps to use your Google API Key.
gmaps.configure(api_key=g_key)

In [41]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# Heatmap of percent cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
#Call the fig. to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
#Heatmap of percent wind.
locations = city_data_df[["Lat","Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
#call the fig. to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [53]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Arraial Do Cabo,BR,2021-03-19 23:08:57,-22.9661,-42.0278,77.00,83,20,8.05
1,1,Moissala,TD,2021-03-19 23:15:49,8.3404,17.7663,79.27,59,90,6.38
3,3,Rikitea,PF,2021-03-19 23:08:48,-23.1203,-134.9692,80.98,76,94,13.00
9,9,Eyl,SO,2021-03-19 23:08:55,7.9803,49.8164,75.25,85,3,10.56
10,10,Atuona,PF,2021-03-19 23:08:45,-9.8000,-139.0333,80.10,75,25,12.39
12,12,Port Blair,IN,2021-03-19 23:09:47,11.6667,92.7500,78.44,75,37,3.42
15,15,Nabire,ID,2021-03-19 23:15:51,-3.3667,135.4833,79.05,87,96,2.39
20,20,Kahului,US,2021-03-19 23:15:51,20.8947,-156.4700,77.00,57,20,24.16
22,22,Vaini,TO,2021-03-19 23:08:57,-21.2000,-175.2000,84.20,79,40,9.22
30,30,Dalby,AU,2021-03-19 23:15:53,-27.1833,151.2667,75.20,73,40,10.36

In [132]:
preferred_cities_df.count()

City_ID       170
City          170
Country       170
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [133]:
# Import the requests library.
 import requests
# Import the API key.
 from config import g_key

In [145]:
 #Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = " "
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
0   Arraial Do Cabo      BR     77.00 -22.9661  -42.0278
1          Moissala      TD     79.27   8.3404   17.7663
3           Rikitea      PF     80.98 -23.1203 -134.9692
9               Eyl      SO     75.25   7.9803   49.8164
10           Atuona      PF     80.10  -9.8000 -139.0333
12       Port Blair      IN     78.44  11.6667   92.7500
15           Nabire      ID     79.05  -3.3667  135.4833
20          Kahului      US     77.00  20.8947 -156.4700
22            Vaini      TO     84.20 -21.2000 -175.2000
30            Dalby      AU     75.20 -27.1833  151.2667

In [149]:
 base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch"

# run a request using our params dictionary
 response = requests.get(base_url, params=params)

# Set parameters to search for a hotel.
 params = {
    "location":f"{lat},{lng}",
    "type": "hotel",
    "rankby": "distance",
    "key": g_key
}

In [150]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.

In [151]:
# Save Data to csv
hotel_df.to_csv("hotel_Output.csv")

# Visualize to confirm airport data appears
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,77.00,-22.9661,-42.0278,Paróquia Sagrado Coração de Jesus
1,Moissala,TD,79.27,8.3404,17.7663,PAU -SOSVET Moissala
3,Rikitea,PF,80.98,-23.1203,-134.9692,Pension Maro'i
9,Eyl,SO,75.25,7.9803,49.8164,Goolis telecom
10,Atuona,PF,80.10,-9.8000,-139.0333,Pension Temetiu Village
12,Port Blair,IN,78.44,11.6667,92.7500,Sea Shell Port Blair
15,Nabire,ID,79.05,-3.3667,135.4833,Hotel Grand Papua Nabire
20,Kahului,US,77.00,20.8947,-156.4700,Bob the Phone Man Hi LLC
22,Vaini,TO,84.20,-21.2000,-175.2000,Vaini Experimental Farm
30,Dalby,AU,75.20,-27.1833,151.2667,Stuart Street park

In [138]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [139]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [140]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [143]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [144]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))